projekt/happy/photos
projekt/happy/testPhotos
projekt/minimalistic/photos
projekt/minimalistic/testPhotos
projekt/modern/photos
projekt/modern/testPhotos
projekt/realistic/photos
projekt/realistic/testPhotos
__pychache__
show/__pychache__