projekt/happy/photos
projekt/happy/testPhotos
projekt/minimalistic/photos
projekt/minimalistic/testPhotos
projekt/modern/photos
projekt/modern/testPhotos
projekt/realistic/photos
projekt/realistic/testPhotos
projekt/base
__pycache__
show/__pycache__